{% extends "@Contao/be_main" %}

{% block main_content %}

    <div id="tl_buttons">
        <a href="{{ backUrl }}" class="header_back" title="">{{ 'database_backup_button_back' | trans }}</a>
    </div>

    <div id="tl_maintenance_cache" class="maintenance_inactive">
        {{ messages | raw }}

        {% include '@BweinDatabaseBackup/database_backup/snippets/create.html.twig' only %}

        {% include '@BweinDatabaseBackup/database_backup/snippets/list.html.twig' with { 'backups' : backups } only %}
    </div>

{% endblock %}

